<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nuevo Reporte</title>

  <link rel="stylesheet" href="/stylesheets/DashboardStyle.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/createEditReports.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel = "icon" href = "/images/logo.png" type = "image/x-icon">
</head>


<body>

  <div class="create-container">
    <%- include('layouts/sidebar') %>

    <div class="middle">
      <h1>Nuevo Reporte</h1>

      <form method="post" action="/reports" id="form">
        <input type="hidden" value ="<%=user.name %>" name="user">

      <div class="grid">
        <div class="equipmentDetails">
        
        <div class="control-container">
          <label for="equipment">Equipo</label>
          <select name="equipment" id="equipment" required>
            <option disabled selected style="display: none;" value="">Seleccione un equipo...</option>
            <% for( let i = 0; i < equipment.length; i++ ) { %>
            <option class="equipmentOptions" data-equipmentId="<%=equipment[i].id %>" value="<%=equipment[i].equipmentName%>"><%=equipment[i].equipmentName%></option>
            <% } %>
          </select>
          <!-- <input id="equipment" class="form-control" type="text" name="equipment"> -->
        </div>
        <div class="control-container">
          <label for="specialty">Tipo de Falla</label>
          <select name="specialty" id="specialty" required>
            <option disabled selected style="display: none;" value="">Seleccione un tipo de falla...</option>
            <% for( let i = 0; i < specialty.length; i++ ) { %>
            <option style="display: none;" class="specialtyOptions" data-specialtyId="<%=specialty[i].id %>" data-specEquipmentId="<%=specialty[i].equipmentId %>" value="<%=specialty[i].specialtyName%>"><%=specialty[i].specialtyName%></option>
            <% } %>
          </select>
          <!-- <input id="specialty" class="form-control" type="text" name="specialty"> -->
        </div>
        <div class="control-container">
          <label for="failure">Falla</label>
          <select name="failure" id="failure" required>
            <option  disabled selected style="display: none;" value="">Seleccione una falla...</option>
            <% for( let i = 0; i < failure.length; i++ ) { %>
            <option style="display: none;" class="failureOptions" data-failureSpecialtyId="<%=failure[i].specialtyId %>" value="<%=failure[i].failure%>"><%=failure[i].failure%></option>
            <% } %>
          </select>
          <!-- <input id="failure" class="form-control" type="text" name="failure"> -->
        </div>
        
            </div>
        <div class="reportTimeDetails">
          <div class="control-container">
            <label for="startTime">Inicio</label>
            <input id="startTime" class="form-control" type="datetime-local" name="startTime" required>
          </div>
          <div class="control-container">
            <label for="endTime">Fin</label>
            <input id="endTime" class="form-control" type="datetime-local" name="endTime">
          </div>
          <div class="control-container">
            <label for="timeElapsed">Tiempo Transcurrido</label>
            <input readonly  id="timeElapsed" class="form-control" type="text" name="timeElapsed" required >
          </div>
        </div>
        <div class="reportsDetails">
          <div class="control-container">
            <label for="report">Reporte</label>
            <textarea id="report" class="form-control" name="report" cols="40" rows="10"></textarea>
          </div>
          <div class="control-container">
            <label for="actionsTaken">Acciones Tomadas</label>
            <textarea id="actionsTaken" class="form-control" cols="40" rows="5" name="actionsTaken"></textarea>
          </div>
          <div class="control-container" id="container-slider">
            <label for="status">Estado</label>
            <div class="switch-container">
              <label>Abierto</label>
              <label class="switch">
                <input id = "statusHidden" class="form-control" type="hidden" name="status" value="0">
                <input id="status" class="form-control" type="checkbox" name="status" value="1">
                <span class="slider round"></span>
              </label>
              <label>Cerrado</label>
            </div>
          </div>
          <button class="button" type="submit"><span>Enviar</span></button>
        </div>
      </div>
      </form>
    </div>

  </div>

  <div class="right">
    <div class="top">
      <button id="menu-btn">
        <span class="material-icons-sharp">menu</span>
      </button>
    </div>
  

<script src="/javascripts/createReports.js"></script>

</body>
</html>