<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Usuarios</title>

  <link rel="stylesheet" href="/stylesheets/DashboardStyle.css">
  <link rel="stylesheet" href="/stylesheets/alerts.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel = "icon" href = "/images/logo.png" type = "image/x-icon">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://kit.fontawesome.com/a81368914c.js"></script>
</head>

<%- include('layouts/message') %>
<div class="reports-container">
  <%- include('layouts/sidebar') %>
  
    <table class="datatable" id="datatable">
  
      <thead>
        <th></th>
        <th></th>
        <th>#</th>
        <th>Nombre</th>
        <th>Usuario</th>
        <th>Contraseña</th>
        <th>Rol</th>
  
      </thead>
  
      <tbody>
        <% for( let i = 0; i < users.length; i++ ) { %>
          <tr class="row" for="checkbox">
            <td class="table-checkbox"><input type="checkbox" name="<%= users[i].id %>" id="checkbox" value="<%= users[i].id %>"></td>
            <td> <%= users[i].id  %>  </td>
            <td> <%= users[i].name %> </td>
            <td> <%= users[i].username %> </td>
            <td> <%= users[i].password %> </td>
            <td> <%= users[i].role %> </td>
          </tr>
        <% } %>
        </tbody>
  
    </table>

    <div class="right">
      <div class="top">
        <button id="menu-btn">
          <span class="material-icons-sharp">menu</span>
        </button>
      </div>
</div>


<script src="/javascripts/flashMessages.js"></script>
<script src="/javascripts/users.js"></script>
<script>
  const dt = new DataTable('#datatable',[
    {
      id: 'bAdd',
      text: 'agregar',
      icon: 'add_circle',
      action: function(){
        // codigo callback
        window.location.href = "/users/create";
        console.log("añadir")
      }
    },
    {
      id: 'bDelete',
      text: 'eliminar',
      icon: 'delete',
      action: function(){
const form = document.getElementById('bDelete-form')

form.addEventListener('click', () =>{
  try {
    if (confirm('Se eliminarán los reportes seleccionados. ¿Desea continuar?') == true) {
      const res = axios.post(`/users/delete`, dt.selectedId);
    }

  } catch (error) {
    console.log(error)
  }
  
});
      }
    }
  ]);

    dt.parse();
</script>
</body>
</html>